<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, user_path(current_user) %>
  </div>
 


<div class="rooms">
  <% current_user.chat_rooms.each do |chat_room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to chat_room.name, chat_room_messages_path(chat_room) %>
      </div>
    </div>
  <% end %>
</div>