<h1>通知一覧</h1>
<ul>
  <% @activities.each do |activity| %>
    <% if activity.trackable.present? && activity.trackable.to_user == current_user %>
      <li>
        <% if activity.trackable_type == 'Like' %>
          <%= activity.owner.nickname %>さんが<%= current_user.nickname %>さんにいいねしました
        <% elsif activity.trackable_type == 'Comment' %>
          <%= activity.owner.nickname %>さんが<%= current_user.nickname %>さんにコメントしました
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>